$main_clr : #754EF9;
$secondary_clr : #8a8fa3;
$third_clr: #385A64;
$red_clr: #FF505B;
$dark_clr: #32333c;
$dark2_clr: #152136;

$loader_bg-block-3: $main_clr;
$loader_bg-block-1: $dark2_clr;
$loading_clr: #fff;

$sec_padding: 100px;